{% extends "base.html" %}
{% block title %}Create a business{% endblock %}

{% block content %}
    <div class="container-fluid h-25 bg-white text-center m-5">
        <h1>Enter details for the new business</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <form method="post" id="createBusinessForm">
            {{ form.csrf_token }}

            <div class="row mb-3 justify-content-center">
                <label for="business_name" class="col-sm-2 col-form-label text-end fw-bold">Name</label>
                <div class="col-sm-3">
                    {{ form.business_name(class="form-control") }}
                    {% if form.business_name.errors %}
                        <div class="text-danger">{{ form.business_name.errors[0] }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 justify-content-center">
                <label for="registry_code" class="col-sm-2 col-form-label text-end fw-bold">Registry code</label>
                <div class="col-sm-3">
                    {{ form.registry_code(class="form-control") }}
                    {% if form.registry_code.errors %}
                        <div class="text-danger">{{ form.registry_code.errors[0] }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 justify-content-center">
                <label for="founding_date" class="col-sm-2 col-form-label text-end fw-bold">Founding date</label>
                <div class="col-sm-3">
                    {{ form.founding_date(class="form-control") }}
                    {% if form.founding_date.errors %}
                        <div class="text-danger">{{ form.founding_date.errors[0] }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 justify-content-center">
                <label for="total_capital" class="col-sm-2 col-form-label text-end fw-bold">Total capital</label>
                <div class="col-sm-3">
                    {{ form.total_capital(class="form-control") }}
                    {% if form.total_capital.errors %}
                        <div class="text-danger">{{ form.total_capital.errors[0] }}</div>
                    {% endif %}
                </div>
            </div>

            <div id="shareholders-container">
                <div class="row mb-3 justify-content-center shareholder-entry">
                    <label class="col-sm-2 col-form-label text-end fw-bold">Shareholder</label>
                    <div class="col-sm-3">
                        <select class="form-control mb-3" name="shareholder_id_0">
                            {% for value, label in shareholders_list %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <input type="number" class="form-control" name="share_amount_0"
                               placeholder="Number of shares" min="1"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn btn-secondary" id="addShareholderBtn">Add shareholder</button>
                    <button type="submit" class="btn btn-dark">Create</button>
                </div>
            </div>
        </form>
    </div>

    {% block scripts %}
        <script>
            const addShareholderBtn = document.getElementById("addShareholderBtn");
            const shareholdersContainer = document.getElementById("shareholders-container");

            const totalCapitalInput = document.getElementById("total_capital");
            const form = document.getElementById("createBusinessForm");

            let counter = 1;

            addShareholderBtn.addEventListener("click", (event) => {
                event.preventDefault();
                addShareholder();
            });

            function createShareholderEntry() {
                const entryDiv = document.createElement("div");
                entryDiv.className = "row mb-3 justify-content-center shareholder-entry";

                const label = document.createElement("label");
                label.className = "col-sm-2 col-form-label text-end fw-bold";
                label.textContent = "Shareholder";

                const controlsDiv = document.createElement("div");
                controlsDiv.className = "col-sm-3";

                const select = document.createElement("select");
                select.className = "form-control mb-2";
                select.name = `shareholder_id_${counter}`;

                let newOpt;
                {% for value, label in shareholders_list %}
                    newOpt = document.createElement("option");
                    newOpt.value = "{{ value }}";
                    newOpt.textContent = "{{ label }}";
                    select.appendChild(newOpt);
                {% endfor %}

                const sharesInput = document.createElement("input");
                sharesInput.type = "number";
                sharesInput.className = "form-control";
                sharesInput.name = `share_amount_${counter}`;
                sharesInput.min = "1";
                sharesInput.placeholder = "Number of shares";

                const removeButton = document.createElement("button");
                removeButton.className = "btn btn-danger ms-2 mt-2";
                removeButton.textContent = "Remove";
                removeButton.addEventListener("click", (event) => {
                    event.preventDefault();
                    entryDiv.remove();
                });

                controlsDiv.appendChild(select);
                controlsDiv.appendChild(sharesInput);
                controlsDiv.appendChild(removeButton);
                entryDiv.appendChild(label);
                entryDiv.appendChild(controlsDiv);

                return entryDiv;
            }

            function addShareholder() {
                const newEntry = createShareholderEntry();
                shareholdersContainer.appendChild(newEntry);
                counter++;
            }

            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                try {
                    const response = await fetch(form.action, {
                        method: 'POST',
                        body: new FormData(form)
                    });
                    const data = await response.json();

                    if (data.success) {
                        window.location.href = `/details/`;
                    } else {
                        alert('Error creating the business: ' + data.error);
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('Error on something else');
                }
            });
        </script>
    {% endblock %} {% endblock %}
