{% extends "base.html" %}
{% block title %}{{ business.name }}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card business-card">
            <div class="card-header">
                <h1 class="h2 mb-0">{{ business.name }}</h1>
            </div>
            <div class="card-body">
                <dl class="row business-info">
                    <dt class="col-sm-2 text-sm-right font-weight-bold">Registry code:</dt>
                    <dd class="col-sm-9">{{ business.registry_code }}</dd>

                    <dt class="col-sm-2 text-sm-right font-weight-bold">Total capital:</dt>
                    <dd class="col-sm-9">{{ business.total_capital|int }} €</dd>
                    <dt class="col-sm-2 text-sm-right font-weight-bold">Founding date:</dt>
                    <dd class="col-sm-9">{{ business.founding_date.strftime('%d.%m.%Y') }}</dd>

                    <dt class="col-sm-2 text-sm-right font-weight-bold">Shareholders:</dt>
                    <dd class="col-sm-9">
                        <ul class="shareholder-list">
                            {% for shareholder in shareholders %}
                                <li class="shareholder-item">
                                    <div>
                                        <strong>{{ shareholder.name }}</strong>
                                        {% if shareholder.is_founder %}
                                            <span class="founder-badge">Founder</span>
                                        {% endif %}
                                    </div>
                                    {% if shareholder.type == "P" %}
                                        <div>Personal code: {{ shareholder.code }}</div>
                                    {% else %}
                                        <div>Registry code: {{ shareholder.code }} </div>
                                    {% endif %}
                                    <div>Share: {{ shareholder.share|int }} €</div>
                                </li>

                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}